<h1>All The Cats!</h1>
<ul>
<% @cats.each do |cat| %>
  <li>
    <a href="<%= cat_url(cat.id) %>"><%= cat.name %></a>
    <form action="<%= cat_url(cat) %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete cat">
    </form>
    <a href="<%= edit_cat_url(cat) %>"><button>Edit</button></a>
  </li>
<% end %>
</ul>

<a href="<%= new_cat_url %>">Create a new cat!</a>